body {
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: rgb(216, 197, 172);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
p{margin-bottom: 0 !important;}
/* Common */
.margin-auto{
  margin:auto;
}
/* properties */
:root {
  --backgorund-header: #ceb195;
  --backgorund-CartHeader: #CEB195;
  --height-header: 48px;
  --color-hover: #fd7f00;
  --Cart-Item:white;
  --size-Content:65%;
}